.subscribe {
  padding: 50px 0;
  background-color: #d3b79c;

  &-title {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
  }

  &-row {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 40px;
  }

  &-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    .form-input {
      padding: 15px 25px;
      background-color: #fff;
      font-size: 20px;
      font-family: Inter;
    }

    .btn {
      width: 100%;
    }
  }
}
