.give {
  padding: 130px 0 140px;
  background-image: url(../img/give-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-content {
    max-width: 600px;
  }

  .title {
    margin-bottom: 40px;
  }

  &-text {
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 23px;
    color: #fefefe;
    font-weight: 300;
    line-height: 1.67;
  }
}
