@media (max-width: 1460px) {
  .about-image img {
    max-width: 100%;
  }

  .about-description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .about .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 950px) {
  .about {
    .title {
      font-size: 50px;
      margin-bottom: 10px;
    }

    .btn {
      font-size: 15px;
      padding: 8px 30px;
    }
  }
}

@media (max-width: 840px) {
  .about-row {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 35px;
  }

  .about-row {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .about .about-image.about-image--mobile {
    display: block;
    margin-bottom: 20px;
  }

  .about-description {
    margin-bottom: 25px;
  }

  .about-image {
    grid-row: 1;
    display: none;
  }
}
